<p id="notice"><%= notice %></p>

<p>
  <strong>Blog image:</strong>
  <%= @blog.blog_image %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
